body{
    background-color: hsl(212, 45%, 89%);
}
.card{
    background-color: white;
    width: 250px;
    height: 400px;
    margin: 140px auto;
    padding : 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #a7a7a7;
}
h1{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
p{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}